<div class="container-fluid paddingLeftZero">
	<div class="paddingLeftZero" [ngClass]="{'col-md-2': sidebarFlag, 'hideSidebar': !sidebarFlag}">
		<app-selection></app-selection>
	</div>
	<div [ngClass]="{'col-md-10': sidebarFlag, 'col-md-12': !sidebarFlag}">
		<div class="row marginTopSm">
			<a (click)="displaySidebar()">
				<span class="sidebarButton" *ngIf="sidebarFlag">Hide</span>
				<span class="sidebarButton" *ngIf="!sidebarFlag">Show</span>
			</a>
		</div>
		<div class="row" id="totalStats">
			<div class="col-md-3 col-md-offset-4">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> All India</span>
					</div>
					<div class="stats text-center">
						<span class="purple">{{infoData.getInfo()['totalHost']}}/
							<span class="statsOutOf">{{infoData.getInfo()['activeHosts']}}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="segregatedStats">
			<div class="col-md-2 col-md-offset-1 paddingZero">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> Working Screens</span>
					</div>
					<div class="stats text-center">
						<span class="green">{{infoData.getInfo()['workingScreen']}}</span>
					</div>
					<div class="statsColor green">
					</div>
				</div>
			</div>
			<div class="col-md-2 paddingZero">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> Ads Not Displayed</span>
					</div>
					<div class="stats text-center">
						<span class="purple">{{infoData.getInfo()['adsNotDisplayed']}}</span>
					</div>
					<div class="statsColor purple">
					</div>
				</div>
			</div>
			<div class="col-md-2 paddingZero">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> User Information Not displayed</span>
					</div>
					<div class="stats text-center">
						<span class="orange">{{infoData.getInfo()['userInfoNotDisplayed']}}</span>
					</div>
					<div class="statsColor orange">
					</div>
				</div>
			</div>
			<div class="col-md-2 paddingZero">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> Ads & User Information Not Displayed</span>
					</div>
					<div class="stats text-center">
						<span class="red">{{infoData.getInfo()['adsUserNotDisplayed']}}</span>
					</div>
					<div class="statsColor red">
					</div>
				</div>
			</div>
			<div class="col-md-2 paddingZero">
				<div class="card">
					<div class="info text-center">
						<span class="grey"><i class="fas fa-desktop"></i> System Unavailable</span>
					</div>
					<div class="stats text-center">
						<span class="brown">{{infoData.getInfo()['systemUnavailable']}}</span>
					</div>
					<div class="statsColor brown">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

