#totalStats {
	margin-top: 5%;
}

#segregatedStats {
	margin-top: 10%;
}

.statsColor {
	border-bottom:3px solid;
	width: 20%;
    margin-left: 40%;
    position: absolute;
    bottom: 0;
}

.paddingLeftZero {
	padding-left: 0!important;
}

.hideSidebar {
	display: none;
}

.sidebarButton {
	margin-left: 10px;
}

.marginTopSm {
	margin-top: 10px;
}