#filters {
	background-color: #f8f8f8;
	height: 100vw;
	padding:10px;
	border: 1px solid #E0E0E0;
}


input[type="checkbox"] {
	cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    transition: all .3s linear;
    border: 1px solid #d8d8d8;
    margin-right: 4px;
}


input[type="checkbox"]:checked{
  	background-color: grey;
}

input[type="checkbox"]:focus{
  	outline: 0 none;
  	box-shadow: none;
}