<div id="filters">
	<div id="branchFilter">
		<label>Branch</label> <a (click)="clearAll()">Clear</a>
		<div *ngFor="let citi of cities">
			<input
			    type="checkbox"
			    value="{{citi}}"
			    [checked]="selectedCities.indexOf(citi) > -1" 
			    (change)="selectCities(citi)"
		  	> 
		  	{{citi}}
		</div>
	</div>
</div>