<nav class="navbar navbar-default marginBottomNone">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vyoma</a>
        </div>
    </div>
</nav>

 <router-outlet></router-outlet>
 <ng4-loading-spinner></ng4-loading-spinner>