/* You can add global styles to this file, and also import other style files */


body {
	background-color: #eee!important;
}

.card {
	height: 120px;
	border-radius: 2px;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.grey {
	color: grey;
}

.green {
	color: green;
}

.red {
	color: red;
}

.purple {
	color: purple;
}

.brown {
	color: brown;
}

.orange {
	color: orange;
}

.info {
	padding-top: 15px;
    font-size: 14px;
    height: 45%;
    line-height: 1.3;
}

.stats {
	padding-top: 10px;
	font-size: 22px;
}

.statsOutOf {
	font-size: 17px;
}


.paddingZero {
	padding: 0!important;
}